:root {
  --accent-color: #477155;
  --text_main_color: rgba(0, 0, 0, 0.51);
  --text_sekondary_color: #FFF;
  --main-border: 12px solid var(--accent-color);
  --sekondary-border: 1px solid var(--accent-color);
  --delete-color: #AE2525;
  --edit-color: #D1A103;
  --main-bg-color: #EBEBEB;

  --disk-free-space: #B4B4B4;
  --disk-red: #8F3B3B;
  --disk-blue: #3B6C8F;

  --add_green_color: #25AE54;
  --standard-but-color: #484D81;
  --sample-but-color: #3293B1;


}